.main {
   padding-block: 20px;
   margin-top: 100px;
}
.main .main-section {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3rem;
}
.main .img-main img {
   width: 400px;
   height: 400px 
}
.main .title-main {
   text-align: center;
}
.main .title-main h2 {
   margin-block: 5px;
}
.main .title-main h1 {
   margin-block: 10px;
}
.main .icon-title {
   display: flex;
   gap: 1rem;
   justify-content: center;
}
.main .icon-title img {
   cursor: pointer;
   height: 2rem;
}
.main .btn.btn-section-main  {
   display: flex;
   gap: 1rem;
}
.main .btn .btn-color-2  {
   border: rgb(53, 53, 53) 0.1rem solid;
   background: white;
}
.main .btn .btn-color-1 {
   border: rgb(53, 53, 53) 0.1rem solid;
   background: rgb(53, 53, 53);
   color: white;
}
@media (max-width: 790px) {
   .main {
      margin-top: 20px;
   }
   .main .main-section {
      flex-direction: column;
      gap: 0;
   }
}
@media (max-width: 465px) {
   .main .img-main img {
      width: 300px;
      height: 300px;
   }
}
@media (max-width: 361px) {
   .main .img-main img {
      width: 200px;
      height: 200px;
   }
   .main .title-main h1 {
   font-size: 2rem;
   }
   .main .title-main h2 {
      font-size: 1.40rem;
   }
}
@media (max-width: 361px) {
   .btn {
      font-weight: 400;
      padding: 0.5rem;
   }
   .main .btn.btn-section-main  {
      gap: 0.3rem;
   }
}
@media (max-width: 275px) {
   .btn {
      font-weight: 350;
      padding: 0.3rem;
   }
}
@media (max-width: 255px) {
   .main .btn.btn-section-main  {
      flex-direction: column;
      gap: 0.5rem;
   }
}